* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --size: 5px;
}
body {
  background-color: #000000;
}

.load {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: float;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: calc(var(--size) * 50);
}

.loading {
  border-radius: 100%;

  margin: calc(var(--size) * 2);
}

.loading:nth-child(1) {
  animation: css-calc-animation 0.6s ease-in-out alternate infinite;
  border: var(--size) solid #ffffff;
}
.loading:nth-child(2) {
  animation: css-calc-animation 0.6s ease-in-out alternate 0.3s infinite;
  border: var(--size) solid #b8b2b2;
}

.loading:nth-child(3) {
  animation: css-calc-animation 0.6s ease-in-out alternate 0.4s infinite;
  border: var(--size) solid #777474;
}

@keyframes css-calc-animation {
  100% {
    transform: scale(2);
  }
}

.loading-text {
  color: #ffffff;
  font-size: bold;
  font-family: sans-serif;
  display: inline-block;
  margin-top: calc(var(--size) * 1);
  margin-left: calc(var(--size) * 166);
}

